<om-light-rays>
    <div class="flex justify-center flex-col">
        <section class="pt-60">
            <div class="text-center space-y-4">
                <h1 class="text-5xl font-semibold text-[#0d9488]">Unified PCB Manufacturing Management</h1>
                <p class="text-xl text-gray-400">for manufacturers, suppliers and clients</p>
            </div>
        </section>

        <section class="py-60 px-20 flex space-x-20">
            <div>
                <div>
                    <h6 class="text-lg font-semibold text-white">For Manufacturers</h6>
                    <p class="text-gray-400">Manage suppliers, clients, projects, and inventory in one place</p>
                </div>
            </div>
            <div>
                <div>
                    <h6 class="text-lg font-semibold text-white">For Suppliers</h6>
                    <p class="text-gray-400">Send quotations, track requests, and manage inventory efficiently</p>
                </div>
            </div>
            <div>
                <div>
                    <h6 class="text-lg font-semibold text-white">For Clients</h6>
                    <p class="text-gray-400">Create projects, upload files, track progress, and manage payments</p>
                </div>
            </div>
        </section>
    </div>
</om-light-rays>